html, body{
    margin: 0;
    padding: 0;

    font-family: 'Staatliches', cursive;
    font-family: 'Sarabun', sans-serif;
}

.container {
    width: 80vw;
    margin: auto auto;

    text-align: center;
    font-family: 'Sarabun', sans-serif;
}

h1 {
    font-family: 'Staatliches', cursive !important;
    font-size: 2.5em !important;
    font-weight: bold;
}

.description {
    font-weight: bold;
    font-size: 1.3em;
    margin: 30px;
}

.grid {
    display: grid;

    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin-bottom: 50px;
}

.itemGrid {
    overflow: hidden;

    -ms-transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
    
    background-color: silver;
}

.itemGrid:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.overlay {
    background-color: rgba(255, 255, 255, .6);
    width: 100%;
    height: 100%;

    padding: 30px 0;
}

@media only screen and (max-width: 576px) {
    .grid {
        grid-template-columns: auto !important;
    }
    
    .container {
        width: 90vw !important;
        font-size: 1em !important;
    }
}
