html, body{
    margin: 0;
    padding: 0;

    font-family: 'Staatliches', cursive;
    font-family: 'Sarabun', sans-serif;
}

.container {
    width: 80vw;
    margin: auto auto;

    text-align: center;
    font-family: 'Sarabun', sans-serif;

    margin-bottom: 50px;
}

h1 {
    font-family: 'Staatliches', cursive !important;
    font-size: 2.5em !important;
    font-weight: bold;
}

.description {
    font-weight: bold;
    font-size: 1.3em;
    margin: 30px auto;

    max-width: 50%;
}

.grid {
    display: grid;

    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin-bottom: 50px;
}

.itemGrid {
    overflow: hidden;

    -ms-transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;

    background-color: silver;
    background-position: 30% 40%;
}

.itemGrid:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.overlay {
    background-color: rgba(255, 255, 255, .6);
    width: 100%;
    height: 100%;

    padding: 30px 0;
}

.choose {
	font-size: 0;
}

input {
    width: 0;
    height: 0;
    position: absolute;
}

label {
    padding: 10px;
    margin: 0;

    border: 1px solid rgba(112, 112, 112, .19);
    border-left: none;
    box-shadow: 1 1 1 rgba(255,255,255, .3);
    border-radius: 0 0 0 0;

    font-size: .9rem;
    color: black;

    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

label:first-of-type {
    border-radius: 5px 0 0 5px !important;
    border-left: 1px solid rgba(112, 112, 112, .19) !important;
}

label:last-of-type {
    border-radius: 0 5px 5px 0 !important;
}

label:hover{
    border-color: rgba(112, 112, 112, .7);
}

input:checked + label {
    color: white;
    background-color: #4B9DEA;
}

@media only screen and (max-width: 576px) {
    .grid {
        grid-template-columns: auto !important;
    }

    .container {
        width: 90vw !important;
        font-size: 1em !important;
    }

    label{
        font-size: .8rem;
        padding: 8px;
    }
}